/* 
CENTER
More info: https://every-layout.dev/layouts/center/#the-generator
*/

.center {
    --measure: 45rem;
    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: var(--measure);
  }
  