---
import Navigation from '../components/navigation.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="20 years of elevated branding and web design">
  <header
    id="hero"
    class="cover bg-gradient bg-gradient-to-tl from-mint-vivid-300 to-mint-vivid-200 text-mint-vivid-900"
  >
    <Navigation />
    <h1
      class="tracking-tight font-black text-[15vw] md:text-[10vw] lg:text-[8vw] mt-zero leading-tight"
    >
      Whoops, how did we get here?
    </h1>
    <h2>This page doesn't exist, <a href="/">let's get you back!</a></h2>
  </header>
</Layout>
