/* Button */

.button {
  display: block;
  max-width: fit-content;
  color: var(--color-indigo-900);
  background-color: var(--color-indigo-vivid-200);
  border: 2px solid var(--color-indigo-vivid-900);
  font-size: var(--size-step-1);
  font-weight: var(--font-bold);
  padding-block-start: var(--space-xs);
  padding-block-end: var(--space-xs);
  padding-inline-start: var(--space-xl);
  padding-inline-end: var(--space-xl);
  text-decoration: none;
  text-align: center;
  border-radius: 9999px;
  box-shadow: 0 8px 0 0 var(--color-indigo-vivid-900);
  transition: box-shadow var(--transition-movement);
}
.button:hover {
  box-shadow: 0 0 0 0 var(--color-indigo-vivid-900);
}
.button:disabled {
  background-color: var(--color-gray-300);
  color: var(--color-gray-700);
}
.button:disabled:hover {
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
}
