.embel-holder {
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.embel {
  max-width: none;
  z-index: 0;
  position: absolute;
  pointer-events: none;
}

.embel[data-position='top-right'] {
  top: 0;
  right: 0;
}

.embel[data-position='center-right'] {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.embel[data-position='center-left'] {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.embel[data-type='muted'] {
  opacity: 0.5;
}
