:root {
  --gutter: var(--space-s-l);
  --tap-target-size: 2.75rem;
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 300ms ease;
  --leading-standard: 1.5;
}
